.message_new {

    position: fixed !important;
    bottom: 0;
    background-color: #A47851;
    color: white;
    margin-left: auto !important;
    margin-right: auto !important;  
    left: 0;
    right: 0;
    padding: 10px !important;

    input {
        color: black;
    }
    
}